body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e3b4e;
    color: #ffffff;
}

.desktop {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.icon {
    width: 80px;
    height: 100px; /* Adjusted height to accommodate title */
    margin: 10px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #ffffff;
}

.icon i {
    font-size: 48px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Added shadow to icon */
}

.icon span {
    display: block;
    font-size: 14px;
    margin-top: 10px;
}

.window {
    display: none;
    width: 800px;
    height: 600px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    resize: both;
    overflow: hidden;
    min-width: 300px; /* Set minimum width */
    min-height: 200px; /* Set minimum height */
}

.window .titlebar {
    height: 36px;
    background: linear-gradient(180deg, rgb(75, 75, 75) 0%, rgb(35, 35, 35) 100%);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: move;
    border: none; /* Remove border */
}

.window .titlebar .buttons {
    margin-left: auto;
}

.window .titlebar .buttons span {
    margin-left: 5px;
    cursor: pointer;
}

.window .titlebar .buttons i {
    font-size: 16px;
}

.window .content {
    padding: 0px;
    height: calc(100% - 36px); /* Adjusted to match titlebar height */
    color: #202020;
}

.window .content iframe {
    width: 100%;
    height: 100%;
    border: none;
}
